/* About Section */
#about
{
    display: none;
    opacity: 0;
    padding: 30px;
    grid-template-areas: 'image text' 'image list';
    grid-template-columns: 50% 50%;
    animation: 2s fade-opacity ease-in-out;
}

#aboutText
{
    font-size: 36px;
    letter-spacing: normal;
    text-indent: 0;
    margin: auto;
    grid-area: text;
    text-align: left;
}
#meJPG
{
    width: 400px;
    margin: auto;
    grid-area: image;
    border-radius: 5rem;
}
#skillsList
{
    grid-area: list;
    font-size: 36px;
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.skill
{
    padding-left: 30px;
}


@media only screen and (max-width: 1200px)
{
    #aboutText, #skillsList
    {
        font-size: 28px;
    }
    #meJPG
    {
        width: 300px;
    }
}

@media only screen and (max-width: 950px)
{
    #aboutText, #skillsList
    {
        font-size: 20px;
    }
    #meJPG
    {
        width: 250px;
    }
}

@media only screen and (max-width: 750px)
{
    #aboutText, #skillsList
    {
        font-size: 18px;
    }
    #meJPG
    {
        width: 200px;
    }
}

@media only screen and (max-width: 650px)
{
    #about
    {
        grid-template-areas: 'image' 'text' 'list';
        grid-template-columns: 100%;
        gap: 30px;
    }
    #aboutText, #skillsList
    {
        font-size: 18px;
    }
    #meJPG
    {
        width: 300px;
    }
}

@media only screen and (max-width: 400px)
{
    #meJPG
    {
        width: 200px;
    }
}