body, html
{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #131313;
    color: #C2C2C2;
    font-family: 'Public Sans';

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a
{
    text-decoration: none;
    margin: auto 0;
}

h2
{
    user-select: none;
    color: #646464;
    font-weight: lighter;
    padding: 0;
    margin: auto 60px;
    font-size: 20px;
    transition: color 0.5s ease-out;
}
h2:hover
{
    cursor: pointer;
    color: #C2C2C2;
    transition: color 0.5s ease-in;
}


/*Top Navigation Bar*/
.topbar
{
    height: 8%;
    display: flex;
    justify-content: center;
    animation: 1.5s fade-down ease-in-out;
}


/*Center Name box */
#home
{
    opacity: 100;
    flex-grow: 1;
    display: table;
}
h1
{
    user-select: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    font-size: 120px;
    font-weight: lighter;
    letter-spacing: 2rem;
    text-indent: 2rem;

    animation: 2s fade-opacity ease-in-out;
}
h1:hover
{
    cursor: default;
}


/*Bottom social links bar */
.bottombar
{
    height: 8%;
    display: flex;
    justify-content: center;
}
.link
{
    font-size: 16px;
    animation: 1.5s fade-up ease-in-out;
}

/* About Section */
#about
{
    display: none;
    opacity: 0;
}

/* Projects Section */
#projects
{
    display: none;
    opacity: 0;
}

/* Contact Section */
#contact
{
    display: none;
    opacity: 0;
}


/* Animations */
@keyframes fade-up
{
    0%
    {
        opacity: 0;
        transform: translateY(20px);
    }
    100%
    {
        opacity: 100;
        transform: translate(0%);
    }
}

@keyframes fade-down
{
    0%
    {
        opacity: 0;
        transform: translateY(-20px);
    }
    100%
    {
        opacity: 100;
        transform: translate(0%);
    }
}

@keyframes fade-opacity
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 100;
    }
}

/* Responsive */

@media only screen and (max-width: 1200px)
{
    h1
    {
        font-size: 80px;
    }

    h2
    {
        font-size: 15px;
        margin: auto 30px;
    }
    .link
    {
        font-size: 13px;
    }
}

@media only screen and (max-width: 950px)
{
    h1
    {
        font-size: 60px;
    }

    h2
    {
        font-size: 15px;
        margin: auto 20px;
    }
    .link
    {
        font-size: 13px;
    }
}

@media only screen and (max-width: 750px)
{
    h1
    {
        font-size: 50px;
        letter-spacing: 0.8rem;
        text-indent: 0.8rem;
    }
}

@media only screen and (max-width: 650px)
{
    h1
    {
        font-size: 35px;
    }

    h2
    {
        font-size: 13px;
        margin: auto 20px;
    }

    .link
    {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px)
{
    h1
    {
        font-size: 30px;
        letter-spacing: 1rem;
        text-indent: 1rem;
    }

}

@media only screen and (max-width: 400px)
{
    h1
    {
        font-size: 25px;
        letter-spacing: 0.7rem;
        text-indent: 0.7rem;
    }

}