#projects
{
    display: none;
    opacity: 0;
    grid-template-columns: 100%;
    animation: 2s fade-opacity ease-in-out;
    text-align: center;
}
.projectIMG
{
    width: 1000px;
    border-radius: 5rem;
    margin: auto;
}
.projectHeader
{
    letter-spacing: normal;
    font-size: 80px;
}
.projectDesc
{
    margin: auto;
    font-size: 26px;
    margin-bottom: 20px;
    color: #C2C2C2;
}

.projectBox
{
    display: flex;
    flex-direction: column;
}

.GitHubButton
{
    font-family: 'Public Sans';
    color: #646464;
    border: none;
    font-size: 26px;
    margin: 20px auto;
}