[data-md-color-scheme="locus"]
{
    --md-primary-fg-color: #161616;
    --md-primary-bg-color: #d1cbc7;

    --md-default-fg-color: #d1cbc7;
    --md-default-fg-color--light: #d1cbc7;
    --md-default-bg-color: #161616;

    --md-typeset-color: #d1cbc7;
    --md-typeset-a-color: #9C6029;

    --md-accent-fg-color: #9C6029;

    --md-typeset-table-color: #8D8D8D;

    --md-code-bg-color: #1c1c1c;
    --md-code-fg-color: #d1cbc7;
}

.md-footer-meta__inner
{
    display: none;
}