$color-black: #161616;
$color-white: #C0BAB3;
$color-lightGrey: #8D8D8D;
$color-grey: #555555;
$color-orange: #9C6029;

// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 900px;
$screen-lg-min: 1400px;
$screen-xl-min: 2000px;

@mixin sm { @media (min-width: #{$screen-sm-min}) { @content; } }
@mixin md { @media (min-width: #{$screen-md-min}) { @content; } }
@mixin lg { @media (min-width: #{$screen-lg-min}) { @content; } }
@mixin xl { @media (min-width: #{$screen-xl-min}) { @content; } }

body
{
    background-color: $color-black;
    background-image: url("../Resources/grain.png");
    color: $color-white;
    font-family: Inter;
    font-weight: bold;
    margin: 0;
    letter-spacing: -0.02em;
    cursor: default;

    @include sm
    {
        letter-spacing: -0.05em;
    }

    @include md
    {
        letter-spacing: -0.08em;
    }

    @include lg
    {
        letter-spacing: -0.1em;
    }

    @include xl
    {
        letter-spacing: -0.1em;
    }
}

canvas
{
    position: absolute;
    width: 70em;
    height: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center-container
{
    //background-color: pink;
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include sm
    {
        width: 30em;
    }

    @include md
    {
        width: 50em;
    }

    @include lg
    {
        width: 70em;
    }

    @include xl
    {
        width: 90em;
    }
}

#Title
{
    //background-color: blue;
    transform-origin: bottom left;
    font-size: 1.5em;
    position: absolute;
    margin: 0;
    transform: skew(-14.5deg) rotate(-14.5deg);
    width: 48.5%;
    bottom: 50%;
    padding-bottom: 0.1em;

    @include sm
    {
        font-size: 2.3em;
    }

    @include md
    {
        font-size: 3.9em;
    }

    @include lg
    {
        font-size: 5.4em;
    }

    @include xl
    {
        font-size: 7em;
    }
}

#Description
{
    //background-color: red;
    font-size: 0.5em;
    color: $color-white;
    transform-origin: bottom right;
    position: absolute;
    margin: 0;
    padding-bottom: 0.8em;
    transform: skew(14.5deg) rotate(14.5deg);
    width: 48.5%;
    bottom: 50%;
    right: 0;

    @include sm
    {
        font-size: 0.9em;
    }

    @include md
    {
        font-size: 1.5em;
    }

    @include lg
    {
        font-size: 2em;
    }

    @include xl
    {
        font-size: 2.5em;
    }
}

#Description2
{
    //background-color: blue;
    font-size: 0.6em;
    color: $color-lightGrey;
    transform-origin: top left;
    position: absolute;
    margin: 0;
    padding-top: 0.8px;
    transform: skew(14.5deg) rotate(14.5deg);
    top: 50%;
    width: 48.5%;
    backface-visibility: hidden;
    
    a
    {
        text-decoration: none;
        color: #9C6029;
        transition: ease-in-out 300ms;
    }

    a:hover
    {
        color: #d8873b;
        cursor: pointer;
        transition: ease-in-out 300ms;
    }

    @include sm
    {
        font-size: 0.9em;
    }

    @include md
    {
        font-size: 1.5em;
    }

    @include lg
    {
        font-size: 2em;
    }

    @include xl
    {
        font-size: 2.5em;
    }
}

#DownloadButton
{
    //background-color: blue;
    font-size: 0.9em;
    color: $color-lightGrey;
    transform-origin: bottom right;
    position: absolute;
    margin: 0;
    padding-top: 0.8em;
    transform: skew(-14.5deg) rotate(-14.5deg);
    top: 50%;
    right: 0;
    width: 48.5%;

    a
    {
        position: absolute;
        top: 0;
        transition: ease-in-out 300ms;
    }

    a:hover
    {
        cursor: pointer;
        color: $color-orange;
        transition: ease-in-out 300ms;
    }

    @include sm
    {
        font-size: 1.3em;
    }

    @include md
    {
        font-size: 2.3em;
    }

    @include lg
    {
        font-size: 3.2em;
    }

    @include xl
    {
        font-size: 4em;
    }
}

#BuildButton
{
    //background-color: blue;
    font-size: 0.9em;
    color: $color-lightGrey;
    transform-origin: bottom right;
    position: absolute;
    margin: 0;
    padding-top: 0.8em;
    transform: skew(-14.5deg) rotate(-14.5deg);
    top: 50%;
    right: 0;
    width: 23.5%;

    a
    {
        position: absolute;
        top: 0;
        transition: ease-in-out 300ms;
    }

    a:hover
    {
        cursor: pointer;
        color: $color-orange;
        transition: ease-in-out 300ms;
    }

    @include sm
    {
        font-size: 1.3em;
    }

    @include md
    {
        font-size: 2.3em;
    }

    @include lg
    {
        font-size: 3.2em;
    }

    @include xl
    {
        font-size: 4em;
    }
}

#Nav
{
    //background-color: blue;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

@keyframes slideInFromLeft 
{
    0% 
    {
      transform: translate(-20%, -20%);
      opacity: 0;
    }
    100% 
    {
      transform: translate(0);
      opacity: 1;
    }
}

@keyframes slideInFromTop 
{
    0% 
    {
      transform: translateY(-20%);
      opacity: 0;
    }
    100% 
    {
      transform: translate(0);
      opacity: 1;
    }
}

@keyframes slideInFromRight
{
    0% 
    {
      transform: translate(20%, 20%);
      opacity: 0;
    }
    100% 
    {
      transform: translate(0);
      opacity: 1;
    }
}

@keyframes slideInFromBack
{
    0% 
    {
      transform: translate(20%, -20%);
      opacity: 0;
    }
    100% 
    {
      transform: translate(0);
      opacity: 1;
    }
}

@keyframes slideInFromFront
{
    0% 
    {
      transform: translate(-20%, 20%);
      opacity: 0;
    }
    100% 
    {
      transform: translate(0);
      opacity: 1;
    }
}

#Grid
{
    fill: none;
    stroke: $color-grey;
    stroke-miterlimit: 10;
}

.Block
{
    background-color: blue;
    pointer-events: none;
    position: absolute;
    fill: $color-white;
    stroke: $color-black;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: ease-in-out 300ms;

    text
    {
        fill: $color-black;
        font-size: 21px;
        letter-spacing: -.02em;
        font-weight: normal;
    }
}

.cls-1
{
    pointer-events: auto;
}

.Block:hover
{
    transition: ease-in-out 300ms;
    transform: translateY(-5px);
    filter: brightness(130%);
    cursor: pointer;
}


#HomeBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
    fill: #A6C587;
}

#AboutBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromFront;
    fill: #51AC8A;
    text
    {
        font-size: 18px;
    }
}

#DocumentationBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromRight;
    fill: #20375D;
    text
    {
        fill: $color-white;
        stroke: $color-white;
        font-size: 24px;
    }
}

#GettingStartedBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromTop;
    fill: #781428;
    text
    {
        fill: $color-white;
        stroke: $color-white;
        font-size: 18px;
    }
}

#GitHubBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromBack;
    fill: #D04727;
    text
    {
        font-size: 24px;
        letter-spacing: -.03em;
    }
}

#ContactBlock
{
    animation: 1s ease-in-out 0s 1 slideInFromRight;
    fill: #D79100;
    text
    {
        font-size: 24px;
    }
}