:root
{
    --marsRadius: 30px;
    --marsColor: #9F4242;
    --jupiterRadius: 200px;
    --jupiterColor: #5C4432;
    --saturnRadius: 180px;
    --saturnColor: #AD8B64;
    --uranusRadius: 80px;
    --uranusColor: #8FA6AB;
    --neptuneRadius: 75px;
    --neptuneColor: #3B6892;
}

html, body
{
    background-color: #D1D1D1;
    height: 100%;
    width: 100%;
    font-family: 'Public Sans';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#topBar
{
    font-weight: 100;
    font-size: 8px;
    display: flex;
    letter-spacing: 3px;
    color: #282828;
    justify-content: center;
    margin-top: 20px;
}
#bar
{
    border-left: 1px solid black;
}
#header1
{
    font-size: 20px;
    font-weight: lighter;
    margin: auto 20px;
    width: 200px;
    text-align: right;
}
#header2
{
    margin: auto 20px;
    font-weight: 500;
    width: 200px;
}

#main
{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}
span
{
    background-color: #282828;
    border-radius: 50%;
    margin: auto 28px;
    transition: background-color 0.5s ease-in-out;
}
span:hover
{
    cursor: pointer;
}
.label
{
    user-select: none;
    position: relative;
    display: grid;
    grid-template-rows: 90% 10%;
    justify-content: center;
}
.line
{
    margin: 0 auto;
    border-left: 1px solid #b3b3b3;
    width: 1px;
}
.labelText
{

    margin: 0;
    margin-top: 5px;
    font-family: "Public Sans";
    font-weight: lighter;
    font-size: 18px;
    color: #b3b3b3;
    width: 400px;
    text-align: center;
}

#Mercury
{
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
}
#Mercury:hover
{
    background-color: #797979;
}
#Mercury .label
{
    top: 35px;
    height: 400px;
}

#Venus
{
    min-height: 45px;
    min-width: 45px;
    max-height: 45px;
    max-width: 45px;
}
#Venus:hover
{
    background-color: #ADA788;
}
#Venus .label
{
    top: 55px;
    height: 370px;
}

#Earth
{
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
}
#Earth:hover
{
    background-color: #4F7780;
}
#Earth .label
{
    top: 60px;
    height: 350px;
}

#Mars
{
    min-height: var(--marsRadius);
    min-width: var(--marsRadius);
    max-height: var(--marsRadius);
    max-width: var(--marsRadius);
}
#Mars:hover
{
    background-color: var(--marsColor);
}
#Mars .label
{
    top: calc(var(--marsRadius) + 10px);
    height: 350px;
}

#Jupiter
{
    min-height: var(--jupiterRadius);
    min-width: var(--jupiterRadius);
    max-height: var(--jupiterRadius);
    max-width: var(--jupiterRadius);
}
#Jupiter:hover
{
    background-color: var(--jupiterColor);
}
#Jupiter .label
{
    top: calc(var(--jupiterRadius) + 10px);
    height: 240px;
}

#Saturn
{
    min-height: var(--saturnRadius);
    min-width: var(--saturnRadius);
    max-height: var(--saturnRadius);
    max-width: var(--saturnRadius);
}
#Saturn:hover
{
    background-color: var(--saturnColor);
}
#Saturn .label
{
    top: calc(var(--saturnRadius) + 10px);
    height: 250px;
}

#Uranus
{
    min-height: var(--uranusRadius);
    min-width: var(--uranusRadius);
    max-height: var(--uranusRadius);
    max-width: var(--uranusRadius);
}
#Uranus:hover
{
    background-color: var(--uranusColor);
}
#Uranus .label
{
    top: calc(var(--uranusRadius) + 10px);
    height: 305px;
}

#Neptune
{
    min-height: var(--neptuneRadius);
    min-width: var(--neptuneRadius);
    max-height: var(--neptuneRadius);
    max-width: var(--neptuneRadius);
    margin-right: 155px;
}
#Neptune:hover
{
    background-color: var(--neptuneColor);
}
#Neptune .label
{
    top: calc(var(--neptuneRadius) + 10px);
    height: 308px;
}

.pages
{
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin: auto;
}
#JupiterPage
{
    
    width: var(--jupiterRadius);
    height: var(--jupiterRadius);
    background-color: var(--jupiterColor);
}
#MarsPage
{
    width: var(--marsRadius);
    height: var(--marsRadius);
    background-color: var(--marsColor);
}
#SaturnPage
{
    width: var(--saturnRadius);
    height: var(--saturnRadius);
    background-color: var(--saturnColor);
}
#UranusPage
{
    width: var(--uranusRadius);
    height: var(--uranusRadius);
    background-color: var(--uranusColor);
}
#NeptunePage
{
    width: var(--neptuneRadius);
    height: var(--neptuneRadius);
    background-color: var(--neptuneColor);
}

@keyframes expand
{
    0% 
    {
        visibility: visible;
        transform: scale(0);
    }
    100%
    {
        transform: scale(100);
        visibility: visible;
    }
}

#bottomBar
{
    min-height: 48px;
}