body
{
    display: flex;
    font-family: Chivo;
    font-weight: lighter;
    background-color: #FFF9F8;
}

html, body
{
    flex-direction: row-reverse;
    margin: 0px;
    height: 100%;
}

/* Key Frames for CSS animations */
@keyframes slideInFromLeft
{
    0%
    {
        transform: translateX(-3%);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0%);
    }
}
@keyframes slideInFromRight
{
    0%
    {
        transform: translateX(15%);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0%);
    }
}

/* Left-hand navigation list properties */
a
{
    text-decoration: none;
    color: inherit;
}
ul
{
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    list-style-type: none;
    line-height: 50px;
    color: #bebebe;
}
li
{
    transition: color 0.5s ease-out;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}
li:hover
{
    color: black;
    transition: color 0.5s ease-in;
    cursor: pointer;
}
.ListBox
{
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.LeftBox
{
    display: table;
    flex-grow: 0.5;
}

/* Middle line seperater properties */
.MiddleBox
{
    display: table;
}
.Line
{
    margin: 0px;
    padding: 0px;
    height: 40rem;
    border-left: 1px solid black;
}
.LineBox
{
    padding-left: 20px;
    padding-right: 50px;
    display: table-cell;
    vertical-align: middle;
}

/*Right-hand Name and Description Properties */
.Name
{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-weight: lighter;
    font-size: 128px;
    letter-spacing: -8.5px;
    margin: 0px;
}
.Desc
{
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: relative;
    font-size: 30px;
    font-weight: lighter;
    margin: 0px;
    bottom: 25px;
    left: 115px;
    width: fit-content;
    color: #989898;
}
.NameBox
{
    height: fit-content;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    width: fit-content;
}
.RightBox
{
    display: table;
    flex-grow: 2;
}

/* Social icons */
.SocBox
{
    display: table;
    padding: 50px;
}
img
{
    animation: 1s ease-out 0s 1 slideInFromRight;
    width: 50px;
    display: table-cell;
    margin-bottom: 30px;
}
img:hover
{
    cursor: pointer;
}


/* Media Queries */

/* Height */
@media (max-height: 700px)
{
    .Line
    {
        height: 30rem;
    }
}
@media (max-height: 550px)
{
    .Line
    {
        height: 20rem;
    }
}

/* 1250px */
@media (max-width: 1250px)
{
    .LineBox
    {
        padding-left: 10px;
        padding-right: 40px;
    }
    .Name
    {
        font-size: 100px;
    }
    .Desc
    {
        font-size: 20px;
        left: 100px;
    }
    img
    {
        margin-bottom: 20px;
        width: 40px;
    }
    .SocBox
    {
        padding: 40px;
    }
    ul
    {
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width: 1025px)
{
    .LineBox
    {
        padding-left: 5px;
        padding-right: 30px;
    }
    .Name
    {
        font-size: 80px;
    }
    .Desc
    {
        font-size: 15px;
        left: 80px;
        bottom: 20px;
    }
    ul
    {
        font-size: 15px;
        line-height: 30px;
    }
    .SocBox
    {
        padding: 30px;
    }
    img
    {
        margin-bottom: 10px;
        width: 30px;
    }
}